# Frontend Next.js / React
.next
node_modules

# Java Server
target
lib

# Logs
logs/
*.log

# env files (except .env.example)
*.env
*.env.*
!*.env.example

# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode